/* Cellular Styles */

@media only screen and (max-width: 767px) and (min-width: 320px){
  .tweet {
    width: 575px;
  }
  .new-tweet {
    width: 575px;
  }
  .headshot{
    width:400px;
    height:300px
  }
  nav{
    padding-bottom: 15px;
  }
  #myBtn{
    width: 10px;
  }
}

/* Tablet Styles */

@media only screen and (max-width: 1023px) and (min-width: 768px){

  .tweet .userName {
    color: #cc9dc6;
  }
  .tweet:hover .userName {
    color: #cc9dc6;
  }
  .tweet .references {
    color: #cc9dc6;
  }
  .tweet:hover .references{
    color: #cc9dc6;
  }
  .headshot{
    width:400px;
    height:300px
  }
  .order {
    -webkit-animation: bounce .8s infinite alternate;
    -moz-animation: bounce .8s infinite alternate;
    animation: bounce .8s infinite alternate;
  }
  @-webkit-keyframes bounce {
    to { -webkit-transform: scale(1.2); }
  }
  @-moz-keyframes bounce {
    to { -moz-transform: scale(1.2); }
  }
  @keyframes bounce {
    to { transform: scale(1.2); }
  }

}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  
    body {
      display: flex;
      align-items:flex-start;
      margin-top: 121px;
      padding-right: 5px;
      margin-right:500px;
     }
  
     .container {
       margin-top: 12px;
     }
     .tweet p {
       border-bottom:black solid 4px ;
     }
     .name {
       padding: 20px;
     }
     body > header {
      margin-top: 12px;
      margin-right: 34px;
     }
     .tweet {
      width: 850px;
    }
    .new-tweet {
      width: 850px;
    }
    .order {
      -webkit-animation: bounce .8s infinite alternate;
      -moz-animation: bounce .8s infinite alternate;
      animation: bounce .8s infinite alternate;
    }
    @-webkit-keyframes bounce {
      to { -webkit-transform: scale(1.2); }
    }
    @-moz-keyframes bounce {
      to { -moz-transform: scale(1.2); }
    }
    @keyframes bounce {
      to { transform: scale(1.2); }
    }
  }


 


