nav {
  font-family: "Anton", sans-serif;
  height: 120px;
  width: 100vw;
  background-color: #ccc1ff;
  position: fixed;
  top: 0;
  color: white;
  padding: 1.5em;
  left: 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: #615bfc 3px solid;
  z-index: 999;

  border-radius: 4px;
}
nav span {
  font-family: "Anton", sans-serif;
  font-weight: 700;
  z-index: 1;
}
#writeTweet {
  background-color: #ccc1ff;
  border-color: #ccc1ff;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
  padding: 0px 20px;
}
#writeTweet:hover {
  box-shadow: 0px 9px 3px 0px #cc9dc6;
  border-radius: 4px;

  padding-bottom: 20px;
}

h2 {
  color: #ff9185;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 45px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ff9185; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 25px; /* Some padding */
  padding-top:10px;
  padding-bottom: 10px;

  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #615bfc; /* Add a dark-grey background on hover */
}