.tweet:hover {
  box-shadow: 8px 9px 3px 0px #cc9dc6;
}
.userName {
  color: #cc9dc6;
  font-size: medium;
  font-weight: lighter;

}
.tweet:hover .userName {
  font-weight: bolder;


}
.tweet:hover {
  box-shadow: 8px 9px 3px 0px #cc9dc6;
}

.references a{
  color: transparent;

}

.tweet:hover a{
  color: #cc9dc6;

}

.tweet:hover .references {
  color: #cc9dc6;
  font-weight: bolder;
}
 .fa-flag:hover {
  color: #cc9dc6;
  box-shadow: 8px 9px 3px 0px #cc9dc6;
}
.fa-retweet:hover {
  color: #cc9dc6;
  box-shadow: 8px 9px 3px 0px #cc9dc6;
}
.fa-heart:hover {
  color: #cc9dc6;
  box-shadow: 8px 9px 3px 0px #cc9dc6;
  
} 


.nameImg {
  display: flex;
  align-items: center;
}
.references{
  display: flex;


}
.tweet {
  border-radius: 4px;
  border: #615bfc 3px solid;
  padding: 10px;
  margin-bottom: 20px;
 font-weight: bold;
 color: #545149;
 background-color:white ;
}
.daysAgo {
  font-size: small;;
}

.container {
  background-color: #dff6eb;
}
.tweet header {
  display: flex;
  border-width: 100px;
  border-color: black;
  justify-content: space-between;
}
.tweet p {
  border-bottom: black 10px solid;
  font-weight: 300;
  font-size: medium;
  overflow-wrap: break-word;
  max-width:900px; 

 
}
.tweet footer {
  display: flex;
  border-width: 100px;
  border-color: black;
  justify-content: space-between;
}
.nameImg{
  font-size:initial;
}


/*
 * Heart burst on shuffle
 */


.heart {
  display:none;
}
.altheart {
  display:none;
}

 .references:hover .x1 {
  left: 5%;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.6;
  -webkit-animation: moveclouds 15s linear, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: moveclouds 150s linear infinite, sideWays 3s ease-in-out infinite alternate;

  -webkit-animation-fill-mode: forwards;
  -moz-animation: hideAnimation 0s;
  display: block;

} 
 .references:hover .x2 {
  left: 25%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.9;
  -webkit-animation: moveclouds 20s linear , sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveclouds 130s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: hideAnimation 0s;
  display: block;
  
} 

 .references:hover .x3 {
  left: 55%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 20s linear, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 120s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: hideAnimation 0s;
  display: block;
  
} 

.references:hover .x4 {
  left: 72%;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.9;
  -webkit-animation: moveclouds 18s linear, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: moveclouds 180s linear infinite, sideWays 0s;   -webkit-animation-fill-mode: forwards;
  -moz-animation: hideAnimation 0s;
  display: block;
}

references:hover .x5 {
    left: 88%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3; 
    -webkit-animation: moveclouds 7s linear, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 70s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: hideAnimation 0s;
    display: block;
}
references:hover .x6 {
    left: 33%;
    opacity: 1; 
    -webkit-animation: moveclouds 2s linear, swayWays 1s ease-in-out infinite alternate;
    animation: moveclouds 10s linear infinite, swayWays 9s ease-in-out infinite alternate;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: hideAnimation 0s;
    display: block;

}  

@-webkit-keyframes moveclouds { 
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@keyframes moveclouds {     
    0% { 
        top: 0px;
    }
    100% { 
        top: -900px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays {
  0% {
      margin-left:0px;
  }
  100% {
      margin-left:50px;
  }
}

@-keyframes swayWays {
  0% {
    transform: rotate(12deg);
    left:-0.3%;
  }
  33%{
    transform: rotate(-2deg);
    left: 0.7%;
  }
  100% {
    transform: rotate(0deg);
    left:-12%;
  }
}
@keyframes hideAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes hideAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}

