.tweet:hover {
  box-shadow: 8px 9px 3px 0px #cc9dc6;
}

.tweet:hover .userName {
  color: #cc9dc6;
}
.userName {
  color: transparent;
}
.nameImg {
  display: flex;
  align-items: baseline;
}
.references{
  display: flex;


}
.tweet {
  border-radius: 4px;
  border: #615bfc 3px solid;
  padding: 10px;
  margin-bottom: 20px;
 color: #3acc83;
 font-weight: bold;
 color: #545149;
}

/* font-family: "Anton", sans-serif;
height: 120px;
width: 100vw;
background-color: #ccc1ff;
position: fixed;
top: 0;
color: white;
padding: 1.5em;
left: 0px;
display: flex;
justify-content: space-between;
border-bottom: #615bfc 3px solid;
border-radius: 4px; */

.tweet header {
  display: flex;
  border-width: 100px;
  border-color: black;
  justify-content: space-between;
}
.tweet p {
  border-bottom: black 10px solid;
}
.tweet footer {
  display: flex;
  border-width: 100px;
  border-color: black;
  justify-content: space-between;
}
